/* Global styles */
* {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

body, html {
    background-color: #F3F5FC;
    height: 100%;
}

body {
    overflow: auto;
}

/* Header */
.alura-logo {
    position: relative;
    left: 50px;
    top: 30px;
    width: 30px;
}

/* Main content */
main {
    display: flex;
    justify-content: center;
    height: 90%;
}

.input-section {
    display: flex;
    flex-direction: column;
    margin-top: 90px;
}

.input-text-area {
    background-color: #F3F5FC;
    border: none;
    color: #0A3871;
    font-size: 28px;
    line-height: 150%;
    resize: none;
    height: 100%;
    text-transform: lowercase;
}

.input-text-area::placeholder { 
    color: #0A3871; 
    text-transform: none;
}

.input-text-area:focus {
    outline: none;
}

.info p {
    display: inline;
    vertical-align: middle;
    color: #495057;
    font-size: 16px;
    margin: 0;
}

.buttons-div {
    display: flex;
    margin-top: 18px;
    margin-bottom: 30px;
}

.btn-encrypt {
    background-color: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: white;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-right: 15px;
    width: 250px;
}

.btn-decrypt {
    background-color: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-left: 15px;
    width: 250px;
}

/* Output section */
.output-section {
    align-items: center;
    background-color: white;
    border-radius: 32px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

/* Styles for the output text area */
.output-text-area {
  background: white url(images/searching.png) center/70% no-repeat;
  border: none;
  color: #0A3871;
  margin: 30px 20px;
  resize: none;
  height: auto;
}

.output-text-area:focus {
  outline: none;
}

/* Styles for the message box */
.nothing-here-message-box {
  width: 80%;
  position: absolute;
  bottom: 80px;
  text-align: center;
}

.nothing-here-message-box h6 {
  color: #343A40;
  font-size: 20px;
  font-weight: bold;
  line-height: 120%;
  margin: 0;
}

.nothing-here-message-box p {
  color: #495057;
  font-size: 16px;
  line-height: 120%;
  margin: 16px 0 0 0;
}

/* Styles for the copy button */
.btn-copy {
  border: 1px solid #0A3871;
  border-radius: 24px;
  color: #0A3871;
  cursor: pointer;
  height: 50px;
  width: 250px;
  font-size: 18px;
  visibility: hidden;
  margin-bottom: 30px;
}

/* Media query for screens up to 768px */
@media screen and (max-width: 768px) {
  .alura-logo {
    margin: 30px 60px;
    position: none;
    left: auto;
    top: auto;
    width: 30px;
  }

  main {
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
  }

  .input-section {
    height: 60%;
    margin: 60px;
  }

  .input-text-area {
    margin: 0;
    padding: 0 60px;
  }

  .info p {
    text-align: center;
  }

  .buttons-div {
    justify-content: center;
  }

  .btn-encrypt,
  .btn-decrypt {
    height: 67px;
    width: 332px;
  }

  .output-section {
    height: 133px;
    width: 688px;
  }

  .output-text-area {
    background-image: none;
    height: 70%;
    margin: 0;
    width: 90%;
  }

  .btn-copy {
    bottom: 30px;
    height: 67px;
    width: 332px;
  }

  .nothing-here-message-box {
    height: 69px;
    position: absolute;
    top: 30px;
    width: 624px;
  }
}

/* Media query for screens up to 375px */
@media screen and (max-width: 375px) {
  .alura-logo {
    margin: 20px 0 0 30px;
  }

  .input-section {
    align-items: center;
    height: auto;
    margin: 10px 0 30px 0;
    padding: 0;
  }

  .input-text-area {
    height: auto;
    padding: 20px;
    width: 90%;
  }

  .buttons-div {
    display: flex;
    flex-direction: column;
  }

  .btn-encrypt {
    align-self: center;
    margin: 0 0 10px 0;
  }

  .btn-decrypt {
    align-self: center;
    margin: 
